.digits{
	font-size: 3rem;
	color: #ffffff;
}

.hour {
	color: rgb(202, 29, 173);
}

.minute {
	color:rgb(81, 81, 211)
}

.second {
	color:rgb(197, 115, 56)
}

.milSec{
	color:rgb(236, 20, 64)
}


.time{
	justify-content: flex-end;
}